{% extends "modelo.html" %}
{% block titulo1 %}Cadastrar fruta{% endblock %}
{% block titulo2 %}Cadastrar fruta{% endblock %}
{% block conteudo %}
  <form action="/frutas" method="POST">
    <div>
      <label for="campo_nome">Nome da fruta:</label>
      <input type="text" id="campo_nome" name="nome" />
    </div>
    <div>
      <label for="campo_cor">Cor da fruta:</label>
      <input type="text" id="campo_cor" name="cor" />
    </div>
    <div><button type="submit">Salvar</button></div>
  </form>
{% endblock %}
